@import url(./../../node_modules/bootstrap/dist/css/bootstrap.css);


    * {
        margin: 0;
        padding: 0;
    }

body {
    min-height: 100vh;
}
/***************************************/
/************ NavBar header ************/
nav {
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 12px;
}

nav a:hover {
    background-color: #5a0a60;
    border-radius: 5px;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.logo {
    width: 400px;
    /* height: 85px; */
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0px;
    z-index: 1;
    background-color: rgba(106, 24, 133, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 1s;
}

.menuFermer {
    position: absolute;
    left: 10px;
    top: 10px;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: white;
}

.menuButton {
    display: none;
}

.dropdown {
    position: relative;
    display: flex;
    border: none;
    background: white;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 100px;
    font-weight: 500;
    cursor: pointer;
}
.dropdown p{
    padding: 0;
    margin: 0;
}
.dropdown-contenue {
    display: none ;
    flex-direction: column;
    position: absolute;
    text-align: left;
    background-color: white;
    top: 20px;
    max-width: 160px;
    max-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    z-index: 1;
    line-height: 25px;
}
.dropdown:hover{
    background-color: rgb(195, 192, 192, 0.4);
}
.dropdown-contenue span{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
}
.dropdown-contenue span:hover{
    background-color: rgb(195, 192, 192, 0.4);
}


/*******************************************/
/**************** Fin NavBar ***************/

/***************************************/
/************** Header Bottom **********/

.headerTop {
    width: 100.8%;
}

.imgHeader {
    width: 101.6%;
    border-top: solid black 2px;
}

.textHbottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(167deg,
            rgba(131, 6, 228, 0.8) 0%,
            rgba(195, 18, 224, 0.8) 100%);
    color: whitesmoke;
    border-top: solid black 2px;
}

.cardHeader{
    background: linear-gradient(167deg,
            rgba(131, 6, 228, 0.8) 0%,
            rgba(195, 18, 224, 0.8) 100%) !important;
            color: white;
            border-radius: 5px;
}


/***************** Responsive Header *************/
@media (min-width:901px) and (max-width: 1025px) {
    .imgHeader{
        width: 102%;
    }
}
@media (max-width: 900px) {
    .hideObMobile {
        display: none;
    }
    .imgHeader{
        width: 103%;
    }

    .menuButton {
        display: block;
    }
    .textHbottom p{
        text-align: center;
        width: 90%;
    }

    .logo {
        width: 300px;
        height: 100px;
        margin-right: auto;
    }
}
@media (max-width: 500px) {
    .logo{
        width: 150px;
        height: 50px;
    }
    .textHbottom{
        font-size: 8px;
        text-align: center;
    }
    .textHbottom h1{
        font-size: 15px;
    }
    .imgHeader{
        width: 106%;
    }
}

/***************** Fin Responsive Header et Header ***************


/******************* Section 1 ******************/
.section1{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
}
.cardHeader{
    
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
}

.buttonSection1 {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .buttonSection1 {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .buttonSection1 p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: rgb(209, 205, 205);
  }
  
  .buttonSection1::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: white;
    height: 2px;
    transition: 0.4s ease-out;
  }
  
  .buttonSection1 p::before {
    position: absolute;
    content: "Explorer";
    width: 0%;
    inset: 0;
    color: white;
    overflow: hidden;
    font-weight: 600;
    transition: 0.4s ease-out;
  }
  
  .buttonSection1:hover::after {
    font-weight: 900;
    width: 100%;
  }
  
  .buttonSection1:hover p::before {
    width: 100%;
  }
  
  .buttonSection1:hover svg {
    transform: translateX(4px);
    color: white;
}
  
  .buttonSection1 svg {
    color: rgb(209, 205, 205);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }
  
/***************** Fin Section 1 **************/

/***************** Debut Section 2 ************/

.section2{
    position: relative;
    height: 500px;
    /* background-color: blue; */
}
  
  .items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 30%;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 300px;
    height: 300px;
    padding: 50px;
  }
  
  .item.active {
    opacity: 1;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    opacity: 0.25;
    transform: translate(-200%, -50%);
  }
  
  .item.next {
    opacity: 0.25;
    transform: translate(100%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 500px;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(195, 18, 224, 0.8);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }

  /********************* Responsive Section 2 ******************

