@import url(./../../node_modules/bootstrap/dist/css/bootstrap.css);

    * {
        margin: 0;
        padding: 0;
    }

body {
    min-height: 100vh;
}
/***************************************/
/************ NavBar header ************/
nav {
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 12px;
}

nav a:hover {
    background-color: #5a0a60;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.logo {
    width: 400px;
    /* height: 85px; */
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0px;
    z-index: 1;
    background-color: rgba(106, 24, 133, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 1s;
}

.menuFermer {
    position: absolute;
    left: 10px;
    top: 10px;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: white;
}

.menuButton {
    display: none;
}

.dropdown {
    position: relative;
    display: flex;
    border: none;
    background: white;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 100px;
    font-weight: 500;
    cursor: pointer;
}
.dropdown p{
    padding: 0;
    margin: 0;
}
.dropdown-contenue {
    display: none ;
    flex-direction: column;
    position: absolute;
    text-align: left;
    background-color: white;
    top: 20px;
    max-width: 160px;
    max-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    z-index: 1;
    line-height: 25px;
}
.dropdown:hover{
    background-color: rgb(195, 192, 192, 0.4);
}
.dropdown-contenue span{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
}
.dropdown-contenue span:hover{
    background-color: rgb(195, 192, 192, 0.4);
}


/*******************************************/
/**************** Fin NavBar ***************/

/***************************************/
/************** Header Bottom **********/

.headerTop {
    width: 100.8%;
}

.imgHeader {
    width: 101.6%;
    border-top: solid black 2px;
}

.textHbottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(131, 6, 228);
    background: linear-gradient(167deg,
            rgba(131, 6, 228, 0.8) 0%,
            rgba(195, 18, 224, 0.8) 100%);
    color: whitesmoke;
    border-top: solid black 2px;
    /* padding-inline: 20px; */
}

/***************** Responsive Header *************/
@media (min-width:901px) and (max-width: 1025px) {
    .imgHeader{
        width: 102%;
    }
}
@media (max-width: 900px) {
    .hideObMobile {
        display: none;
    }
    .imgHeader{
        width: 103%;
    }

    .menuButton {
        display: block;
    }
    .textHbottom p{
        text-align: center;
        width: 90%;
    }

    .logo {
        width: 300px;
        height: 100px;
        margin-right: auto;
    }
}
@media (max-width: 500px) {
    .logo{
        width: 150px;
        height: 50px;
    }
    .textHbottom{
        font-size: 8px;
        text-align: center;
    }
    .textHbottom h1{
        font-size: 15px;
    }
    .imgHeader{
        width: 111%;
    }
}

/***************** Fin Responsive Header ***************